<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/blackjack.css">
    <title>Blackjack</title>
</head>
<body>
<label class="label1">Dealer</label>
<div id="dealer">
    <div id="dealerCardArea">
        <div id="dealerCards">
            <div><img class="card" src="/assets/cards/cardback.jpg"></div>
            <div><img class="card" src="/assets/cards/1h.png"></div>
        </div>
    </div>
    <div id="dealerBet">
        <label class="label2">Dealer Bet</label><br>
        <label class="label2" id="dealerBetAmount">$80</label>
    </div>
</div>

<div id="divider">
    <div id="dividerText">Dealer Hits on Soft 17</div>

</div>

<div id="user">
    <div id="userMsg">
        Hit or Stand
    </div>

    <div id="userCardArea">
        <div id="userCards">
             <div><img class="card" src="/assets/cards/4c.png"></div>
             <div><img class="card" src="/assets/cards/1h.png"></div>
        </div>
        <div id="userCardTotal">15</div>
    </div>

    <div id="userActions">
        <button id="dealHit">Hit</button>
        <button id="split" hidden="true">Split</button>
        <button id="stand">Stand</button>
    </div>

    <div id="userBettingArea">
        <div id="userMoney">
            <div id="userBank">
                <label class="label2">Bank</label>
                <label class="label2" id="userMoney">$20</label>
            </div>
            <div id="userCurrentBet">
                <label class="label2">Bet</label>
                <label class="label2" id="userBet">$80</label>
            </div>
        </div>
        <div id="userBetButtons">
            <label class="label2">Bet</label>
            <button id="bet1">1</button>
            <button id="bet5">5</button>
            <button id="bet10">10</button>
            <button id="bet25">25</button>
            <button id="bet50">50</button>
        </div>
    </div>
</div>

</body>
</html>