<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/blackjack.css">
    <script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>
    <title>Blackjack</title>
</head>
<body>
<label class="label1">Dealer</label>
<div id="dealer">
    <div id="dealerCardArea">
        <div id="dealerCards">
            <div><img src="/assets/cards/cardback.png"></div>
            <div><img src="/assets/cards/cardback.png"></div>
        </div>
    </div>
    <div id="dealerBet">
        <label class="label2">Dealer Bet</label><br>
        <label class="label2" id="dealerBetAmount">$0</label>
    </div>
</div>

<div id="divider">
    <div id="dividerText">Dealer Hits on Soft 17</div>

</div>

<div id="user">
    <div id="userMsg">
        Place Your Bet
    </div>

    <div id="userCardArea">
        <div id="userCards">
            <div><img src="/assets/cards/cardback.png"></div>
            <div><img src="/assets/cards/cardback.png"></div>
        </div>
        <div id="userCardTotal"></div>
    </div>

    <div id="userActions">
        <button id="dealHit">Deal</button>
        <button id="split" hidden="true">Split</button>
        <button id="doubleDown" hidden="true">Double Down</button>
        <button id="stand">Stand</button>
    </div>

    <div id="userBettingArea">
        <div id="userMoneyDiv">
            <div id="userBank">
                <label class="label2">Bank</label>
                <label class="label2" id="userMoney">$100</label>
            </div>
            <div id="userCurrentBet">
                <label class="label2">Bet</label>
                <label class="label2" id="userBetAmount">$0</label>
            </div>
        </div>
        <div id="userBetButtons">
            <label class="label2">Bet</label>
            <button id="bet1" onclick="userBetFun(1)">1</button>
            <button id="bet5" onclick="userBetFun(5)">5</button>
            <button id="bet10" onclick="userBetFun(10)">10</button>
            <button id="bet25" onclick="userBetFun(25)">25</button>
            <button id="bet50" onclick="userBetFun(50)">50</button>
        </div>
    </div>
</div>

<script>

var game;
$.getJSON("http://localhost:8080/game", function( data ) {
    display(data);
    game = data;
});

function display(game){
    console.log(game);
    //First try to update bets
    if(game.betError == true){
       alert("You cannot bet more than you have in the bank");
    } else{
       $("#userMoney").html("$" + game.pBank.toString());
       $("#userBetAmount").html("$" + game.pBet.toString());
       $("#dealerBetAmount").html("$" + game.pBet.toString());
    }

}


//Bet button clicks:
function userBetFun(bet){
    //Send game data to /bet/{amount}
    $.ajax({
        type: "POST",
        url: "/bet/" + bet,
        data: JSON.stringify(game),
        success: function(data, status){
        console.log("Data: " + data + "\nStatus: " + status);
        //Display game data
        display(data);
        game = data;},
        contentType:"application/json; charset=utf-8",
        dataType:"json",
     });

}
</script>

</body>
</html>