<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/blackjack.css">
    <title>Blackjack</title>
</head>
<body>
<div id="dealer">
    <div id="dealerCardArea">

    </div>
    <div id="dealerCurrentBet">

    </div>
</div>

<div id="divider">
    <div id="dividerText">
        Dealer Hits on Soft 17
    </div>

</div>

<div id="user">
    <div id="userMsg">

    </div>

    <div id="userCardArea">

    </div>

    <div id="userActions">

    </div>

    <div id="userBettingArea">
        <div id="userMoney">
            <div id="userBank">

            </div>
            <div id="userCurrentBet">

            </div>
        </div>
        <div id="userBetButtons">

        </div>
    </div>
</div>

</body>
</html>